.timeline {
    &__item {
        margin-bottom: 5rem;
        &--title {
            h3 { 
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: var(--fs-m);
            }
        }

        &--duration,
        &--company,
        &--location,
        &--technologies {
            display: flex;
            align-items: center;
        }

        &--duration {
            font-size: var(--fs-xs);
            color: rgb(172, 172, 172);
        }

        &--technology {
            font-size: 1.2rem;
            padding: .5rem 2rem;
            margin-top: 1.5rem;
            background-color: var(--col-p-dblue);
            box-shadow: 0 5px 6px var(--col-p-grey-blue);
            color: white;
            text-transform: uppercase;
            text-align: center;

            &:not(:last-of-type) { margin-right: 1rem; }
        }

        @media screen and (max-width: 450px) {
            max-width: 100%;

            &--technologies {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }

            &--technology {
                margin-right: 1rem;
            }
        }
    }
}