footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 10% 2rem 10%;
    background-color: var(--col-p-grey-blue);

    @media screen and (max-width: 700px) {
        flex-direction: column;
        justify-content: space-evenly;
        padding: 4rem 10% 6rem 10%;
    }
    
    .footer__menu {
      &--list {
            display: flex;
            align-items: center;
            list-style-type: none;

            @media screen and (max-width: 700px) {
                flex-direction: column;
                margin-bottom: 4rem;
            }

            > .footer__menu--item {
                display: inline-block;
                text-transform: uppercase;

                &:not(:last-child) { margin-right: 2rem; }

                > a { 
                    font-size: 1.4rem;
                    text-decoration: none;
                    color: var(--col-s-grey);
                 }

                 > img { width: 20rem;}

                 @media screen and (max-width: 700px) {
                    &:not(:last-child) { margin: 0 0 2rem 0; }
                }
            }
        }
    }

    .footer__social--links {
        display: flex;
        justify-content: space-around;
        width: 10rem;

        > .footer__social--link  {
            display: flex;
            align-items: center;

            > a > svg > path { fill: white; }
        }
    }
}