header {
    position: relative;
    max-height: 50rem;
    width: 80%;
    margin: 0 auto 15rem auto;
    overflow: hidden;

    > .header__image > img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
    }

    > .header__intro {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 45rem;
        padding: 2rem;
        background-color: var(--col-s-lgrey);
        
        > h2 { margin-bottom: 2rem; }
    }
}